.daily .content::-webkit-scrollbar {
    display: none;
}
.task {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    position: relative;
    &-header {
        width: 100%;
        height: 1.1rem;
        line-height: 1.2rem;
        text-align: center;
        @include page_header_color($theme-red);
        z-index: 1;

        h3 {
            @include page_header_text_color($theme-red-header-text-color);
            display: inline-block;
            margin-left: -0.5rem;
        }
        .img-he {
            margin-left: 0.3rem;
            float: left;
            margin-top: 0.4rem;
            width: 0.42rem;
            height: 0.42rem;
        }
        .img-he:active {
            transform: scale(0.95);
        }
    }
    .category {
        width: 100%;
        // margin-top: 1.1rem;
        position: fixed;
        top: 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        z-index: 1;

    }
    .category-type {
        width: calc(100% / 3);
        height: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        p {
            width: 90%;
            height: 100%;
            text-align: center;
            font-size: 0.3rem;
            line-height: 0.8rem;
            color: #8c8c8c;
        }
        .category-type-active {
            @include myself_task_category_text($theme-red-category);
            box-sizing: border-box;
        }
    }
    .category-type:nth-of-type(1),
    .category-type:nth-of-type(2) {
        &::after {
            content: "|";
            position: absolute;
            top: 0.24rem;
            right: 0;
            color: #d1d1d1;
        }
    }

    .recommend{
        width: 100%;
        overflow-y: scroll;
        margin-top: 1.9rem;
        // text-align: center;
        
        .daily {
            width: 100%;
            // height: 2.6rem;
            background: -webkit-linear-gradient(left, #576ede, #7779ee);
            background: -o-linear-gradient(right, #576ede, #7779ee);
            background: -moz-linear-gradient(right, #576ede, #7779ee);
            background: linear-gradient(to right, #576ede, #7779ee);
            padding: 0.22rem 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            overflow: auto;
            .title {
                height: 0.4rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #fff;
                margin-bottom: 0.2rem;
                margin-left: 0.2rem;

                .title_list {
                    width: 0.1rem;
                    height: 65%;
                    background-color: #fff;
                    border-radius: 0.1rem;
                    margin: 0 0.1rem 0 0;
                }
                p {
                    height: 100%;
                    line-height: 0.4rem;
                    font-size: 0.3rem;
                }
            }
            .content {
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                display: flex;
                position: relative;

                .daily_mission {
                    width: 3.3rem;
                    height: auto;
                    flex: none;
                    // background-color: #fff;
                    border-radius: 0.2rem;
                    margin: 0 0.1rem;
                    padding: 0.15rem;
                    box-sizing: border-box;
                    position: relative;

                    div {
                        line-height: initial;
                    }

                    &-name {
                        font-size: 0.28rem;
                        color: #575757;
                    }

                    &-reward {
                        color: #ff7e00;
                        font-size: 0.5rem;
                        margin: 0.1rem 0;
                    }
                    &-statement {
                        color: #898989;
                        display: flex;
                        align-items: flex-end;
                    }
                }
                .daily_mission:first-child{
                    margin-left: 0.34rem;
                }

                .readBg{
                    background-image: url("~@/assets/myself/task/bg-read.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                .betBg{
                    background-image: url("~@/assets/myself/task/bg-bet.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                .inviteBg{
                    background-image: url("~@/assets/myself/task/bg-invite.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                .lotteryBg{
                    background-image: url("~@/assets/myself/task/bg-lottery.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                .signInBg{
                    background-image: url("~@/assets/myself/task/bg-signIn.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }

                .storedBg{
                    background-image: url("~@/assets/myself/task/bg-stored.png");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
                &-icon {
                    
                    width: 0.4rem;
                    // height: 0.2rem;
                    position: absolute;
                    right: 0.18rem;
                    bottom: 0.18rem;
                }
            }
        }

        .advanced{
            width: 100%;
            padding: 0.22rem;
            box-sizing: border-box;

            .title {
                height: 0.4rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #000;
                margin-bottom: 0.2rem;

                &-list {
                    width: 0.1rem;
                    height: 65%;
                    background-color: #6774e6;
                    border-radius: 0.1rem;
                    margin: 0 0.1rem;
                }

                p {
                    height: 100%;
                    line-height: 0.4rem;
                    font-size: 0.3rem;
                }
            }

            .mission{
                width: 100%;
                border-radius: 0.4rem;
                background-color: #fff;
                padding: 0.1rem;
                box-sizing: border-box;
                
                img{
                    width: 0.7rem;
                }

                &-box{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-icon{
                        width: 0.8rem;
                        height: 0.8rem;
                        background-image: url('~@/assets/icons/missionIcon.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &-content{
                        display: flex;
                        width: 85%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.4rem 0;
                        border-bottom: 1px solid #d0d0d0;

                        .content-box{
                            width: 75%;
                            div{
                                line-height: initial;
                            }

                            &-title{
                                font-size: 0.34rem;
                            }
                            &-statement{
                                color: #898989;
                            }
                        }

                        .mission-btn{
                            color: #fe654c;
                            border-radius: 0.5rem;
                            border: 1px solid #fe654c;
                            padding: 0.1rem 0.2rem;
                        }
                    }
                }
            }

            .mission-box:last-child .mission-box-content{
                border-bottom: none;
            }
            .more{
                margin-top: 10px;
            }
        }
    }

    .ongoing{
        width: 100%;
        overflow-y: scroll;
        margin-top: 2.2rem;
        background-color: #fff;
        height: -webkit-fill-available;
        // text-align: center;

        .mission{
            width: 100%;
            // height: -webkit-fill-available;
            background-color: #fff;
            padding: 0.1rem 0.2rem;
            box-sizing: border-box;
            // margin-top: 0.3rem;
            
            img{
                width: 0.7rem;
            }

            &-box{
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-icon{
                    width: 0.8rem;
                    height: 0.8rem;
                    background-image: url('~@/assets/icons/missionIcon.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &-content{
                    display: flex;
                    width: 85%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.4rem 0;
                    border-bottom: 1px solid #d0d0d0;

                    .content-box{
                        div{
                            line-height: initial;
                        }

                        &-title{
                            font-size: 0.34rem;
                        }
                        &-statement{
                            color: #898989;
                        }
                    }

                    .content-rightBox{
                        text-align: center;

                        .mission-btn{
                            // width: 1.25rem;
                            color: #898989;
                            border-radius: 0.5rem;
                            border: 1px solid #d0d0d0;
                            padding: 0.1rem 0.2rem;
                            margin: 0 auto;
                            margin-right: 0;
                        }

                        &-schedule{
                            font-size: 0.34rem;
                            margin-top: 0.1rem;
                            font-weight: bold;
                        }
                    }

                }
            }
        }
    }

    .complete{
        width: 100%;
        overflow-y: scroll;
        margin-top: 2.2rem;
        background-color: #fff;
        height: -webkit-fill-available;
        // text-align: center;

        .mission{
            width: 100%;
            // height: -webkit-fill-available;
            background-color: #fff;
            padding: 0.1rem 0.2rem;
            box-sizing: border-box;
            // margin-top: 0.3rem;
            
            img{
                width: 0.7rem;
            }

            &-box{
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-icon{
                    width: 0.8rem;
                    height: 0.8rem;
                    background-image: url('~@/assets/icons/missionIcon.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &-content{
                    display: flex;
                    width: 85%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.4rem 0;
                    border-bottom: 1px solid #d0d0d0;

                    .content-box{
                        div{
                            line-height: initial;
                            display: flex;
                            align-items: center;
                        }

                        &-title{
                            font-size: 0.34rem;
                        }
                        &-statement{
                            color: #898989;
                            // display: flex;
                            // align-items: center;
                            .coin-icon{
                                width: 15px;
                                height: 15px;
                                background-image: url('~@/assets/icons/coin-icon.png');
                                background-repeat: no-repeat;
                                background-size: contain;
                                display: inline-block;
                            }

                            span{
                                color: #fe654c;
                            }
                            a {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }

                    .mission-btn{
                        color: #fff;
                        border-radius: 0.5rem;
                        // border: 1px solid #898989;
                        padding: 0.15rem 0.35rem;
                        background-image: linear-gradient(-29deg, #dc3848 2%, #e73951 100%);
                    }

                    .receive{
                        background-image: linear-gradient(-29deg, #ffa765 5%, #ffbf79 83%);
                    }
                }
            }
        }
    }

    .boxBig{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        overflow: auto;
        z-index: 10;
        animation: Showchu 2s;

        .box{
            width: 6.44rem;
            margin: 0 auto;
            margin-top: calc(50%);

            .head{
                width: 100%;
                height: 0.82rem;
                background: -webkit-gradient(linear, left bottom, left top, from(#a8222f), to(#c12f3e));
                background: linear-gradient(to top, #a8222f, #c12f3e);
                border-top-left-radius: 0.2rem;
                border-top-right-radius: 0.2rem;
                position: relative;
                color: #fff;

                div{
                    text-align: center;
                    line-height: 0.82rem;
                    font-size: 0.36rem;
                }
            }

            .foot{
                width: 100%;
                background: #fff;
                border-bottom-left-radius: 0.2rem;
                border-bottom-right-radius: 0.2rem;
                padding: 0.19rem;

                p{
                    text-align: center;
                    font-size: 0.3rem;
                    margin: 0.2rem 0;
                }

                .commit{
                    box-shadow: 0px 2px 1px #8c7d7f;
                    margin: 0 auto;
                    width: fit-content;
                    background-color: #a8222f;
                    color: #fff;
                    border-radius: 0.5rem;
                    padding: 0.1rem 0.2rem;
                    margin-top: 0.4rem;
                    margin-bottom: 0.2rem;
                    
                }
            }
        }

        .imgBB{
            display: block;
            margin: 0 auto;
            margin-top: 0.4rem;
        }
    }
    .noMissionBg {
        text-align: center;
        position: relative;
        p {
        position: absolute;
        bottom: 0.2rem;
        left: 50%;
        transform: translateX(-50%);
        color: #8b8b8b;
        }
    }
    .noMission{
        width: 65%;
        margin-top: 1rem;
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }

    .fade-leave,
    .fade-enter-to {
        opacity: 1;
    }
}
