.member-management {
    width: 100%;
    height: 100%;
    padding: 1.6rem 0px 1rem;
    &-header {
        width: 100%;
        height: 1.1rem;
        line-height: 1.2rem;
        text-align: center;
        z-index: 1001;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include page_header_color($theme-red);
        &-wrap {
            // margin-top: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h3 {
                @include page_header_text_color($theme-red-header-text-color);
                display: inline-block;
            }
            .back-icon {
                position: absolute;
                left: 0.5rem;
                margin: 0;
            }
        }
    }

    .member-info {
        width: 100%;
        height: 0.5rem;
        background-color: #fff;
        position: fixed;
        top: 1.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0.2rem;
        filter: drop-shadow(0px 5px 6.5px rgba(147,147,147,0.29));
        .totalMembers {
            color: #6f6f6f;
            position: relative;
            padding-right: 0.5rem;
            &::after {
                content: "|";
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .yesterdayAdd {
            color: #6f6f6f;
            padding-left: 0.5rem;
        }
    }
    
    .member-management-content {
        padding: 0 0.2rem;
        .managementBtn {
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2rem;
            .notFocus {
                width: 1.6rem;
                height: 0.48rem;
                color: #979797;
                border: solid 1px #979797;
                border-radius: 0.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .onFocus {
                width: 1.6rem;
                height: 0.48rem;
                background-color: #3649e6;
                color: #fff;
                border: solid 1px #979797;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.25rem;
                transition: 0.3s;
            }
            .onFocus:active {
                background-color: #c9c9c9;
                transform: scale(0.95);
            }
            .under-review {
                position: relative;
                span{
                    width: 0.3rem;
                    height: 0.3rem;
                    position: absolute;
                    top: calc((100% - 0.3rem) / 2);
                    right: 0.05rem;
                    border-radius: 0.25rem;
                    background-color: #c12f3e;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .member-list-wrap {
            width: 100%;
            background-color: #fff;
            .member-list {
                width: 100%;
                height: 1.42rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.2rem 0.1rem;
                border-bottom: dotted 1px #d9d9d9;
                img {
                    margin-right: 0.2rem;
                    height: 1rem;
                    width: 1rem;
                    border-radius: 0.25rem;
                }
                &-info {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-right: auto;
                    &-name {
                        font-size: 0.36rem;
                        line-height: 0.36rem;
                    }
                    &-detail {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #a4a4a5;
                        p:nth-of-type(1) {
                            padding-right: 0.2rem;
                            position: relative;
                            &::after {
                                content: "|";
                                position: absolute;
                                right: 0;
                            }
                        }
                        p:nth-of-type(2) {
                            margin-left: 0.2rem;
                        }
                    }
                    .member-list-send-message {
                        color: #fff;
                        background-color: #34bb10;
                        padding: 0.1rem 0.2rem;
                        border-radius: 0.25rem;
                    }
                    &-vip-wrap {
                        display: flex;
                        align-items: center;
                        color: #a4a4a5;
                        p {
                            margin-right: 0.25rem;
                        }
                    }
                    &-last-bet-time {
                        color: #a4a4a5;
                    }
                }
            }
            .hide {
                display: none;
            }
            .member-list-btn-wrap {
                display: flex;
                align-items: center;
                .drop {
                    width: 0.38rem;
                    height: 0.38rem;
                    background: url('~@/assets/club/drop.png') no-repeat center;
                    background-size: contain;
                    margin-right: 0.2rem;
                    transition: 0.3s;
                }
                .drop:active {
                    background-color: #c9c9c9;
                    transform: scale(0.95);
                    border-radius: 0.5rem;
                    transition: 0.3s;
                }
                .closed {
                    width: 0.38rem;
                    height: 0.38rem;
                    background: url('~@/assets/club/closed.png') no-repeat center;
                    background-size: contain;
                }
                .closed:active {
                    background-color: #c9c9c9;
                    transform: scale(0.95);
                    border-radius: 0.5rem;
                    transition: 0.3s;
                }
                .member-list-btn {
                    padding: 0.2rem 0.3rem;
                    border-radius: 0.3rem;
                }
                .pass{
                    @include page_header_color($theme-red);
                    @include page_header_text_color($theme-red-header-text-color);
                    margin-right: 0.2rem;
                }
                .reject {
                    background-color: #64656d;
                    color: #fff;
                }
            }
        }
    }
    .chat {
        width: 100%;
        height: 3rem;
        border-radius: 0.25rem 0.25rem 0 0;
    }
    
    .fancy-box {
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 95%;
        height: auto;
        background-size: contain;
        position: fixed;
        z-index: 2000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0.2rem;
        img {
            width: 100%;
        }
        &-content {
            width: 100%;
            height: 3rem;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 0.32rem;
                line-height: 0.32rem;
            }
        }
        &-btn {
            width: 100%;
            // height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: #fff;
            padding-bottom: 0.2rem;
            border-radius: 0 0 0.2rem 0.2rem;
            p {
                font-size: 0.28rem;
                color: #dc3849;
                margin-top: 0.25rem;
            }
            &-confirm {
                width: 85%;
                font-size: 0.4rem;
                line-height: 0.4rem;
                color: #ffffff;
                padding: 0.3rem;
                text-align: center;
                border-radius: 0.5rem;
                @include myself_btn();
                margin: 0.2rem;
                transition: 0.3s;
            }
            &-confirm:active {
                background-color: #c9c9c9;
                transform: scale(0.95);
            }
            &-cancel {
                width: 85%;
                font-size:  0.4rem;
                line-height: 0.4rem;
                color: #ffffff;
                padding: 0.3rem;
                text-align: center;
                border-radius: 0.5rem;
                background-image: linear-gradient(-29deg, #acacac 4%, #c5c5c5 100%);
                transition: 0.3s;
            }
            &-cancel:active {
                background-color: #c9c9c9;
                transform: scale(0.95);
            }
        }
    }

    // element-ui 樣式
    .el-select .el-input.is-focus .el-input__inner,
    .el-select .el-input__inner:focus {
        border-color: var(--primary-color)!important;
    }
    .el-select-dropdown__item.selected {
        color: #ffffff!important;
    }
    .el-select-dropdown__item.hover, 
    .el-select-dropdown__item:hover {
        background: var(--primary-color)!important;
    }
    .el-input__inner {
        margin-top: 0.5rem;
    }
    .el-input__suffix {
        top: 0.2rem;
    }
}

